argcomplete==3.6.3
blinker==1.7.0
boto3==1.42.25
botocore==1.42.25
certifi==2026.1.4
cfn-flip==1.3.0
charset-normalizer==3.4.4
click==8.1.7
Deprecated==1.3.1
durationpy==0.10
Flask==3.0.1
Flask-Limiter==4.1.1
Flask-Mail==0.10.0
Flask-WTF==1.2.2
gunicorn==21.2.0
hjson==3.1.0
idna==3.11
itsdangerous==2.1.2
Jinja2==3.1.6
jmespath==1.0.1
limiter==0.5.0
limits==5.6.0
MarkupSafe==3.0.3
ordered-set==4.1.0
packaging==25.0
placebo==0.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-slugify==8.0.4
PyYAML==6.0.3
requests==2.32.5
s3transfer==0.16.0
setuptools==79.0.1
six==1.17.0
StrEnum==0.4.15
text-unidecode==1.3
token-bucket==0.3.0
toml==0.10.2
tqdm==4.67.1
troposphere==4.9.6
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.0.1
wheel==0.45.1
wrapt==2.0.1
WTForms==3.2.1
zappa==0.61.4
