<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTP Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="login-container">
    <div class="login-card">

        <div class="login-header">
            <h2>Verify OTP</h2>
            <p>Enter the 6-digit OTP sent to your email</p>
        </div>

        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <div class="form-group">
                <div class="input-wrapper">
                    <p class="uname_color">OTP</p>
                    <input type="text" name="otp" maxlength="6" required>
                    <span class="focus-border"></span>
                </div>
            </div>

            <button type="submit" class="btn login-btn">
                Verify
            </button>
        </form>

    </div>
</div>

</body>
</html>
